
dist
build
node_modules
auraacode
auraafunction
scripts
.idx
vite.config.ts
postcss.config.js
tailwind.config.ts
.eslintrc.js
.eslintrc.cjs
eslint.config.ts
**/*.d.ts
**/auraacode/**
**/auraafunction/**
**/functions/**
