
dist
build
node_modules
src/dataconnect-admin-generated
src/dataconnect-generated
auraacode/src/dataconnect-admin-generated
auraafunction/src/dataconnect-admin-generated
functions/src/dataconnect-admin-generated
firebase-vendor-*.js
.idx
vite.config.ts
postcss.config.js
tailwind.config.ts
.eslintrc.js
.eslintrc.cjs
eslint.config.ts
**/*.d.ts
