
dist
build
node_modules
src/dataconnect-admin-generated
src/dataconnect-generated
auraacode
auraafunction
functions
scripts
firebase-vendor-*.js
.idx
vite.config.ts
postcss.config.js
tailwind.config.ts
.eslintrc.js
.eslintrc.cjs
eslint.config.ts
**/*.d.ts
**/auraacode/**
**/auraafunction/**
**/functions/**
